<div class="d-flex backdrop" *ngIf="character$ | async as character">

  <img class="img-backdrop" src="https://image.tmdb.org/t/p/original{{character.backdrop_path}}" alt="">

  <!-- Sidebar  -->
  <div class="sidebar border-right" id="sidebar">
    <img src="https://image.tmdb.org/t/p/w500{{character.poster_path}}" alt="">
    <hr class="my-2" />
  </div>
  <!-- end sidebar  -->

  <!-- str contenedor  -->
  <div class="bg-white-transparent p-3">
    <div class="row">
      <div class="col-12">
        <h1 class="card-title text-dark">{{ character.name}}
          <small class="h5 fw-light">{{ character.first_air_date | date: 'yyyy'}}</small>
        </h1>
      </div>
      <div class="col-10">
        <p class="h6 fw-normal m-0">
          <b>AIRS</b> [Fridays at 12:00 AM] on [Apple TV+], <b>PREMIERED</b> [September 23, 2021]
        </p>
        <p class="h6 fw-normal m-0">
          <b>RUNTIME</b> [55 mins], <b>TOTAL RUNTIME</b> [9hours, 10 mins], (10 episodes)
        </p>
        <p class="h6 fw-normal m-0">
          <b>CREATOR</b> [David S. Goyer], COUNTRY [United States], LANGUAGE [English]
        </p>
        <p class="h6 fw-normal m-0">
          <b>STUDIOS</b> [Skydance Television + 2 more], <b>GENRES</b> [Science Fiction, Drama, Fantasy]
        </p>
      </div>
    </div>
  </div>
  <!-- end contenedor  -->

</div>