img.img-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .7;
}

.backdrop {
  height: 90vh;
}

.border-rounded {
  border-radius: 20px;
}

.bg-white-transparent {
  background-color: rgb(241 241 241 / 70%);
  border-radius: 20px;
}

.fw-light {
  font-weight: 300!important;
}

.fw-normal {
  font-weight: 400!important;
}

.img-fuid {
  width: 100%;
}