<div class="card card-rounded border" [routerLink]="['/character-details', character.id]">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="https://image.tmdb.org/t/p/w500{{character.poster_path}}" [alt]="character.name" class="img-fluid card-rounded" />
      <a [routerLink]="['/character-details', character.id]">
        <div class="mask mask-background"></div>
      </a>
    </div>
    <div class="card-body border-bottom py-2" data-mdb-toggle="tooltip" title="Title: {{character.title}}">
      <h5 class="card-title text-nowrap m-0" >{{character.original_title}}</h5>
    </div>
    <div class="card-body pt-2">
      <p class="text-muted text-white f-15 m-0"><b>Release Date:</b> {{ character.release_date | date }} <i class="fas fa-ticket-alt"></i></p>
      <p class="text-muted text-white f-15 m-0"><b>Vote Average:</b> {{ character.vote_average | number }} <i class="far fa-star"></i></p>
    </div>
  </div>