.img-fluid {
    width: 100% !important;
    object-fit: cover;
}

.mask-background {
    background-color: rgba(251, 251, 251, 0.15);
}

.card {
    opacity: 0.8;
    cursor: pointer;
  
    &:hover {
      opacity: 1;
    }
}

.card-title {
    max-width: 213px !important;
    white-space: nowrap;
    overflow: hidden;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.f-10 {
    font-size: 10px !important;
}

.f-11 {
    font-size: 11px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-13 {
    font-size: 13px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-15 {
    font-size: 15px !important;
}


.card-rounded{
    border-radius: 20px;
}

.img-fluid,.card-rounded{
    border-radius: 20px 20px 0px 0px !important;
}