<!-- <div class="card">
    <div class="image">
        <a [routerLink]="['/character-details', character.id]">
            <img src="https://image.tmdb.org/t/p/w500{{character.poster_path}}" [alt]="character.name"
                class="card-img-top img-fluid" />
        </a>
    </div>
    <div class="card-inner bg-dark">
        <div class="card-header">
            <a [routerLink]="['/character-details', character.id]">
                <h3 class="card-title text-white mb-1">{{ character.name }}</h3>
            </a>
            <div class="justify-content-start">
                <p class="text-muted text-white m-0"><b>First Air Date:</b> {{ character.first_air_date | date }}</p>
                <p class="text-muted text-white m-0"><b>Vote Average:</b> {{ character.vote_average | number }}</p>
            </div>
        </div>
    </div>
</div> -->


<div class="card" [routerLink]="['/character-details', character.id]">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="https://image.tmdb.org/t/p/w500{{character.poster_path}}" [alt]="character.name" class="img-fluid" />
      <a [routerLink]="['/character-details', character.id]">
        <div class="mask mask-background"></div>
      </a>
    </div>
    <div class="card-body border-bottom py-2">
      <h5 class="card-title m-0">{{character.name}}</h5>
    </div>
    <div class="card-body pt-2">
      <p class="text-muted text-white m-0"><b>First Air Date:</b> {{ character.first_air_date | date }}</p>
      <p class="text-muted text-white m-0"><b>Vote Average:</b> {{ character.vote_average | number }}</p>
    </div>
  </div>